@use "./variables/" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $cream;
}

main {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

h1 {
  font-family: $ogg;
  font-weight: 600;
}

span {
  display: inline-block;
}

span,
p {
  font-family: $avantGarde;
}

ul,
li {
  list-style: none;
}

button {
  background: transparent;
  border: transparent;
  cursor: pointer;
}

textarea,
input {
  background-color: $beige;
  outline: none;
  border: transparent;
  font-family: $ogg;
  padding-left: 20px;

  &::placeholder {
    color: $black;
    font-family: $ogg;
  }
}

select {
  border: transparent;
  background-color: $beige;
}
