@use "../../../styles/variables/" as *;

#about {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    @include media("<md") {
      padding: 20px;
      max-width: 80%;
    }

    .text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media("<md") {
        max-width: 500px;
      }

      .title {
        text-align: center;

        @include media("<md") {
          font-size: 50px;
          line-height: 1.25;
        }

        @include media(">=md") {
          font-size: 80px;
          max-width: 800px;
          line-height: 1.125;
        }
      }

      .sub-title {
        text-align: center;

        @include media("<md") {
          font-size: 20px;
        }

        @include media(">=md") {
          font-size: 30px;
          margin-top: 20px;
        }
      }
    }

    .paragraph {
      max-width: 600px;
      margin-top: 30px;
      display: grid;
      gap: 20px;

      @include media(">=md") {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, minmax(200px, auto));
      }

      p {
        line-height: 1.5;

        &:nth-of-type(1) {
          font-weight: 600;
          font-size: 18px;
        }

        @include media("<md") {
          text-align: center;
        }
      }
    }

    .image-wrapper {
      position: relative;
    }
  }

  #eugene-delacroix {
    .image-wrapper {
      @include media("<md") {
        margin-top: 20px;
        min-width: 300px;
        height: 400px;
      }

      @include media(">=md") {
        margin-top: 30px;
        width: 600px;
        height: 400px;
      }
    }
  }

  #eugene-delacroix__exp {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media("<md") {
      margin-top: 20px;
    }

    @include media(">=md") {
      margin-top: 50px;
    }

    .title {
      text-align: center;

      @include media(">=md") {
        font-size: 40px;
        max-width: 700px;
      }
    }
  }

  #museum-info {
    margin-top: 70px;

    .image-wrapper {
      @include media("<md") {
        width: 100%;
        height: 500px;
      }

      @include media(">=md") {
        align-self: flex-end;
        margin-bottom: 70px;
        width: 50%;
        height: 700px;
      }
    }

    .text-wrapper {
      @include media("<md") {
        margin-top: 20px;
      }

      p {
        font-weight: 500;
        font-size: inherit;
      }
    }
  }
}
