@use "../../styles/variables/" as *;

#home {
  width: fit-content;

  .gallery {
    height: 40vh;
    display: flex;
  }

  .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;

    .title {
      font-family: $ogg;

      @include media("<md") {
        font-size: 50px;
      }

      @include media(">=md") {
        font-size: 90px;
      }

      @include media(">=lg") {
        font-size: 150px;
      }
    }
  }
}
